---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Feb 28th 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hi, if you're reading this you've probably stumbled across this very wonderful blog about random
		aspects of my pretty regular life. In all honestly this is nothing more than something to give me a 
		chance to spruce my HTML and CSS skills (or lack there of). If I go off on random tirades I'm probably 
		just trying to fill out a section of text.
	</p>
	<p>
		To sum this up. I know sweet fuck all about blogging or web development (if you can call what I'm
		doing web development). I just want to develop another whack skill that 90% of people can do better 
		than me and maybe document some fun parts of my life!
	</p>
</Layout>
